.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  justify-content: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #e5e5e5;
  height: 90px;
  width: 100%;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 2em;
  margin: 20px;
}

.App-subtitle {
  font-size: 1.25em;
  margin: 5px;
}

.App-subtitle-subtitle {
  font-size: 0.75em;
  margin: 2px;
}
